{% extends "base.html" %}
{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shop in style</h1>
            <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
        </div>
    </div>
</header>
{% if cart_products %}
<div class="card mb-3" style="max-width: 60%; margin: 2% auto;">
    {% for product in cart_products %}
        <div class="row g-0">
            <div class="col-md-2">
                <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body d-flex justify-content-between">
                    <div class="card-footer border-top-0 bg-transparent" >
                        <strong><h3 class="card-title">{{product.name}}</h3></strong>
                        {% if product.is_sale %}
                        <!-- Sale badge-->
                        <div class="badge position-absolute" style="top: 0.5rem; right: 0.5rem; color: rgb(231, 58, 15); font-size: 1.5rem;">On Sale</div>
                        <p class="fw-bold" style="font-size: large;">Original Price: <s>{{ product.price}}</s>
                            <br>
                            Sale Price: {{ product.sale_price}}</p>
                        {% else %}
                        <p class="fw-bold">Price: {{ product.price}}</p>
                        {% endif %}
                    </div>
                    <div class="card-footer border-top-0 bg-transparent d-flex justify-content-center">
                        <div class="text-center p-4"><a class="btn btn-outline-dark mt-auto" id="add_cart" data-product-id="{{ product.id }}">Remove</a></div>
                        <div class="text-center p-4"><a class="btn btn-outline-dark mt-auto" href="{% url 'home' %}" id="homeCheck">Buy</a></div>
                    </div>
                </div>
                
            </div>
        </div>
    {% endfor %}
</div>
{%else%}
<div class="fs-1 text-center" style="color: red;">No items in your cart!!</div>
<div class="card-footer border-top-0 bg-transparent d-flex justify-content-center">
    <div class="text-center p-4"><a class="btn btn-outline-dark mt-auto" href="{% url 'home' %}" id="homeCheck">Home</a></div>
</div>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
{% endif %}

{% endblock content %}