{% extends "base.html" %}
{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About us</h1>
            <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
        </div>
    </div>
</header>
<!-- about section -->
<div class="container">
    <div class="row">
        <center>
            <div class="col-8 text-center fs-4 text">
                <p align="justify">
                    <br><br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias facere vel molestiae, sapiente,
                    iure voluptate laudantium delectus, debitis magnam neque dolorum! Reiciendis distinctio nemo vero
                    modi magnam beatae ad odio! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio
                    corrupti voluptas perferendis nulla, ratione quisquam, animi alias quasi quis, veritatis similique.
                    Aliquid commodi aperiam, sit porro beatae quaerat odit ex consequatur adipisci amet dicta sequi
                    inventore consectetur tempora quo aliquam dolore placeat voluptatibus expedita reprehenderit hic!
                    Magni
                    quod assumenda asperiores minus necessitatibus corporis culpa inventore, quam itaque ab eius, ut
                    voluptas
                    nesciunt neque fugit quo modi rem dolores! Qui mollitia inventore corrupti asperiores consectetur?
                    Molestias, magnam temporibus eaque cumque deserunt reprehenderit, hic voluptatem voluptas sed, modi
                    nulla nemo laboriosam. Modi velit officiis nostrum. Exercitationem unde maxime doloremque veniam
                    odit
                    provident. voluptas
                    nesciunt neque fugit quo modi rem dolores! Qui mollitia inventore corrupti asperiores consectetur?
                    Molestias, magnam temporibus eaque cumque deserunt reprehenderit, hic voluptatem voluptas sed, modi
                    nulla nemo laboriosam. Modi velit officiis nostrum. Exercitationem unde maxime doloremque veniam
                    odit
                    provident.
                </p>
            </div>
        </center>
    </div>
</div>
{% endblock content %}