{% extends 'base.html' %}
{% block content %}
<div class="card mb-3" style="max-width: 60%; margin: 2% auto;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <strong><h3 class="card-title">{{product.name}}</h3></strong>
                <p class="card-text">{{product.description}}</p>
                {% if product.is_sale %}
                <!-- Sale badge-->
                <div class="badge position-absolute" style="top: 0.5rem; right: 0.5rem; color: rgb(231, 58, 15); font-size: 1.5rem;">On Sale</div>
                <p class="fw-bold" style="font-size: large;">Original Price: <s>{{ product.price}}</s>
                    <br>
                    Sale Price: {{ product.sale_price}}</p>
                {% else %}
                <p class="fw-bold">Price: {{ product.price}}</p>
                {% endif %}
            </div>
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent d-flex justify-content-center">
                <div class="text-center p-4"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                <div class="text-center p-4"><a class="btn btn-outline-dark mt-auto" href="{% url 'home' %}">Home</a></div>
            </div>
            
        </div>
    </div>
</div>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
{% endblock content %}