{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="main-body">
          <!-- /Breadcrumb -->
    
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="{{user.profile.photo.url}}" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4>{{user.get_full_name}}</h4>
                      <p class="text-muted font-size-sm">{{user.profile.address}}</p>
                      <button class="btn btn-primary">Follow</button>
                      <button class="btn btn-outline-primary">Message</button>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">First Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                       <input type="text" name="first_name" id="id_first_name" class="form-control" value="{{ user_form.first_name.value }}">
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Last Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                       <input type="text" name="last_name" id="id_last_name" class="form-control" value="{{ user_form.last_name.value }}">
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Username</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <input type="text" name="username" id="id_username" class="form-control" value="{{ user_form.username.value }}">
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <input type="text" name="email" id="id_email" class="form-control" value="{{ user_form.email.value }}">
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Mobile</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <input type="text" name="phone" id="id_phone" class="form-control" value="{{ profile_form.phone.value }}">
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Address</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <input type="text" name="address" id="id_address" class="form-control" value="{{ profile_form.address.value }}">
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Photo</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <input type="file" name="photo" id="id_photo" class="form-control" value="dklsfhldf">
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-12">
                      <button type="submit" class="btn btn-info mx-3">Save Profile</button>
                    </div>
                  </div>
                </div>
              </div>

{% endblock content %}